<div class="container text-center">

  <!-- Header -->
  <header class="jumbotron bg-primary text-white mt-3 mb-2">
    <h1>Burger Restaurant</h1>
    <h2><i class='fas fa-hamburger'></i></h2>
  </header>

  <!-- User input -->
  <div class="card mb-2">
    <div class="card-body">

      <div class="row">

        <div class="col-sm-12 col-md-4">
          <div class="mt-sm-0 mb-sm-3 mt-md-3" id="burger-img"></div>
        </div>

        <div class="col-sm-12 col-md-8">
          <form>
            <div class="form-group mb-3">
              <label for="burger-select">
                <h3>Pick your burger!</h3>
              </label>
              <select class="form-control form-control-lg" id="burger-select"></select>
            </div>
            <button class="btn btn-primary btn-lg my-3" id="order-button">Place Order</button>
          </form>
        </div>

      </div>

    </div>
  </div>

  <div class="row mb-2">

    <!-- Ordered items -->
    <div class="col-6">
      <div class="card">
        <div class="card-header">
          <h4>Ordered</h4>
        </div>
        <div class="card-body">

          {{#each allBurgers}}
          {{#unless delivered}}

          <div class="card mb-1">
            <h2>{{burger_name}}</h2>
            <p>Ordered on {{ordered_at}}</p>
            <div class="btn-group btn-group-sm">
              <button class="deliver-button btn btn-success m-1" data-id="{{burger_id}}">Deliver Order</button>
              <button class="cancel-button btn btn-danger m-1" data-id="{{burger_id}}">Cancel Order</button>
            </div>
          </div>

          {{/unless}}
          {{/each}}

        </div>
      </div>
    </div>

    <!-- Delivered items -->
    <div class="col-6">
      <div class="card">
        <div class="card-header">
          <h4>Delivered</h4>
        </div>
        <div class="card-body">

          {{#each allBurgers}}
          {{#if delivered}}

          <div class="card mb-1">
            <h2>{{burger_name}}</h2>
            <p>Delivered on {{delivered_at}}</p>
            <button class="delete-button btn btn-outline-danger m-1" data-id="{{burger_id}}">Delete</button>
          </div>

          {{/if}}
          {{/each}}

        </div>
      </div>
    </div>

  </div>

  <!-- Footer -->
  <footer class="card bg-secondary mb-2">
    <div class="card-body">
      <p class="m-0"><a href="/api/burgers" class="text-white">Burger API</a></p>
    </div>
  </footer>

</div>